---
permalink: '/assets/styles/themes.css'
eleventyExcludeFromCollections: true
---
{%- macro colorscheme(colors) -%}
    --color-bg: {{ colors.background }};
    --color-bg-offset: {{ colors.backgroundOffset }};
